body {
  background-color: grey;
  font-size: large;
  margin-left: 50px;
  margin-right: 50px;
}
h1 {
  text-align: center;
  color: white;
}
.container {
  display: flex;
  padding: 50px;
  justify-content: stretch;
  margin: 30px;
}
#equilateral {
  border: 1px solid white;
  width: 400px;
  background-color: blueviolet;
}
#isoscele {
  border: 1px solid white;
  width: 400px;
  background-color: brown;
}
#scalene {
  border: 1px solid white;
  width: 400px;
  background-color: green;
}
img {
  float: left;
  padding: 10px;
}

span {
  font-style: italic;
  color: white;
  font-size: x-large;
}
